<div class="wrapper">

    <div class="text-center mt-4 name"> Ajouter Medecin  </div>
    <form action="" method="post" role="form" class="p-3 mt-3">
  
      <div class="col-md-12 mt-3 form-group">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
        <input type="text" name="nom" class="form-control" id="nom" placeholder="nom"  [(ngModel)]="med.nom"   required></div>
      </div>
      <div class="col-md-12 form-group mt-lg-3 mt-0">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
  
        <input type="text" name="prenom" class="form-control" id="prenom" placeholder="prenom" [(ngModel)]="med.prenom" required></div>
      </div>
  
      <div class="form-group mt-3 col-md-15">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
  
        <input type="text" class="form-control" name="cin" id="cin" placeholder="CIN" [(ngModel)]="med.cin" required></div>
      </div>
      <div class="form-group mt-3 col-md-15">
       
      </div>
      <div class="form-group mt-3 col-md-15">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
  
          <input type="text" class="form-control" name="adresse" id="adr" placeholder="adresse" [(ngModel)]="med.adress" required></div>
      </div>
        
  
  
  
  
  
  
  
    <button class="btn mt-3" (click)="ajouter(med)">
      Ajouter Medecin
    </button>
    </form>
  
  </div>

  
