<div class="wrapper">

    <div class="text-center mt-4 name"> Sign up </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="text" name="nom" id="nom" placeholder="nom"> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="text" name="prenom" id="prenom" placeholder="prenom"> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Password"> </div>
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="userName" id="userName" placeholder="Username"> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Password"> </div>
        
        
        
        
        
        <button class="btn mt-3">enregistrer</button>
    </form>
    <div class="text-center fs-6"> <a href="#">Forget password?</a> or <a href="#">Sign up</a> </div>
</div>